.headerWrapper{

}

.headerTop{
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-align: right;
}

.logout{
    margin-left:40px ;
}

.breadCrumb{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-top: 1px solid #001529;
    font-size: 12px;
}

.breadCrumbTitle{
    text-align: center;
    font-size: 18px;
    /*position: relative;*/
}

.breadCrumbTriangle{
    position: absolute;
    border-top: 10px solid #ffffff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    left: 71px;
    top: 39px;
    content: "";
}

.weather{
    text-align: right;
}

.date{

}

.weatherDetail{
    margin-left: 10px;
    height: 40px;
}

.weatherImage{
    height: 18px;
    vertical-align: middle;
    margin-left: 10px;
}
