.appWrapper{
    display: flex;
    height: 100vh;
}

.navLeftWrapper{
    width: 20%;
    min-width: 180px;
}

.main{
    flex: 1;

    overflow: auto;
}

.content{
    padding: 20px;
    background: #f1f2f3;

}





